div {
	height: 16vh;
}

.first {
	background: red
}
.second { 
	background: orange
}
.third{ 
	background: yellow
}
.fourth{ 
	background: green
}
.fifth{ 
	background: blue
}
.sixth{ 
	background: purple
}
h2{
font-size: px

}