
body {
    text-align: center;
}

div {
	height: 40vh;
}

h2 {
    color: black;
    font-size: 100px
}
.first {
	background-color: blue;
}
.half {
	height: 5vh;
}
.fourth {
	background-color: white;
}
.second  {
	background-color: black;
}
.third {
	background-color: blue;
}
